body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*SPIELERKARTEN*/
.spielerkarten {
    display: block;
    width: 100%;
    justify-content: center;
}

.spielerkarten .spielername {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.spielerkarten .karten {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.spielerkarten .karten .karte {
    width: 100px;
    margin: 0.25rem;
}
.spielerkarten .karten .karte:hover {
    cursor: pointer;
    box-shadow: 0 0 0.25rem 0.25rem #0ff;

}
