body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body, #root {
    position: absolute;
}

body, #root, .router, .maumau {
    height: 100%;
    width: 100%;
}

.maumau {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*GEGNER*/
.alleGegner {
    max-height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.alleGegner .gegner {
    max-width: 30%;
    margin: 0 25px;
}

.alleGegner .gegner .karten {
    display: flex;
    justify-content: center;
}

.alleGegner .gegner .name {
    display: flex;
    justify-content: center;
}

.alleGegner .gegner .karten .karte {
    width: 75px;
    margin: 0.25rem;
}

.alleGegner .gegner .karten.ueberlappend {
    padding-left: 3.5rem;
}

.alleGegner .gegner .karten.ueberlappend .karte {
    position: relative;
    width: 75px;
    margin: 0.25rem;
    margin-left: -3.5rem;
}


/*KARTENSTAPEL*/
.kartenstapel {
    max-height: 30%;
    display: flex;
    justify-content: center;
}

/*SPIELERKARTEN*/
.spieler {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-height: 30%;
    padding-bottom: 1rem;
}

.spieler .name {
    display: flex;
    justify-content: center;
    width: 100%;
}

.spieler .karten {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.spieler .karten .karte {
    width: 100px;
    margin: 0.25rem;
}

.spieler .karten .karte:hover {
    cursor: pointer;
    box-shadow: 0 0 0.25rem 0.25rem #0ff;
}
